@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .Mycontainer {
    @apply w-[80%] sm:w-[90%] md:w-[90%] lg:w-[90%] xl:w-[95%] ms-auto me-auto ps-[20px] pe-[20px];
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1d1d1d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.linear {
  background: rgb(0,0,0);
  background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 38%, rgba(0,0,0,0) 100%);
}

@layer base {
  @font-face {
    font-family: "po-l";
    src: url('./assets/font/Poppins-Light.ttf');
  }
  @font-face {
    font-family: "po-b";
    src: url('./assets/font/Poppins-Bold.ttf');
  }
}
