@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
@layer components {
    .Mycontainer {
           @apply w-[80%] ms-auto me-auto ps-[20px] pe-[20px]
    }
 
}
.po-ex {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .po-b {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  /* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1d1d1d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}